*.pyc
/.vs
/build
/build-*

CMake*.json
.idea
python/build/
python/ctranslate2.egg-info/
python/dist/
.cache
docs/build/
docs/python/
.claude/skills/apple-silicon/sources/Metal-Shading-Language-Specification.pdf
